@model IEnumerable<liftmarket.Models.Urun>

@{
    ViewBag.Title = "Index";
}

<h2>
    @Html.ActionLink("Sepete Git", "Basket")
</h2>


<table class="table">
    <tr>
        <th>
            Ürün Adı
        </th>
        <th>
            Bayi Fiyatı
        </th>
        <th>
            Müşteri Fiyatı
        </th>
        <th>
            Kar Durumu
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BayiFiyati) ₺
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriFiyati) ₺
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KarDurumu) %
            </td>
        </tr>
    }

</table>
