@model liftmarket.Models.Urun

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Urun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BayiFiyati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BayiFiyati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusteriFiyati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriFiyati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BakimFiyati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BakimFiyati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UretimSure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UretimSure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BakimSure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BakimSure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KarDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KarDurumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>
