@model liftmarket.Models.Urun

@{
    ViewBag.Title = "Düzenle";
}

<h4>Ürünü Düzenle</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <p class="control-label col-md-2">Ürün Adı</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrunAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UrunAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Bayi Satış Fiyatı</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BayiFiyati, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BayiFiyati, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Müşteri Satış Fiyatı</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MusteriFiyati, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MusteriFiyati, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Bakım Ücreti</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BakimFiyati, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BakimFiyati, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Üretim Süresi (Gün)</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UretimSure, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UretimSure, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Bakım Zaman Aralığı (Gün)</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BakimSure, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BakimSure, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Kar %</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.KarDurumu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KarDurumu, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geri", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
